html,
body,
#root,
#root > div {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

#banner {
  height: 300px;
  background-color: yellow;
}

#header-area {
  width: 1024px;
  height: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-area img {
  width: 128px;
  height: 36px;
}

#header {
  height: 64px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#body {
  height: 100vh;
  /* background-color: blue; */
  width: 1024px;
  margin: 0 auto;
  /* 자식이 부모를 기준으로 가운데 정렬을 시킬때 margin 0 auto 사용 */
  padding-bottom: 24px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
